[Unit]
Description=Renew and deploy gibcert certificates daily
Documentation=https://foundry.fsky.io/fsky/gibcert

[Timer]
OnCalendar=*-*-* 03:17:00
RandomizedDelaySec=6h
Persistent=true
Unit=gibcert.service

[Install]
WantedBy=timers.target
